# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/

# Python Virtual Environments
**/venv/
**/.venv/
venv/
.venv/
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Python Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebooks
.ipynb_checkpoints

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
